@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-color: #e5e5f7;
  opacity:1;
  background-image: radial-gradient(#517cff 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}
